**/*.map
**/*.min.css
**/*.min.js
assets/css/main.scss
assets/js/search-data.js
assets/js/distillpub/template.v2.js
assets/js/search/*.js
assets/plotly/demo.html
lighthouse_results/**
_posts/2015-10-20-math.md
_sass/font-awesome/*.scss

# build / cache
_site/
public/
vendor/
node_modules/

# file che non devono essere modificati
google*.html
*.code-workspace
lighthouse_results/
assets/js/search/*.js